body {
    font-family: monterey, Garamond, Arial;  !important;
    font-size: 18px;
}
@font-face {
    font-family: monterey; !important;
    src: local(monterey), url('fonts/monterey-bt.ttf') format('truetype'); !important;
}
h1{
    font-family: monterey; !important;
    font-size: 2em;
    color: goldenrod
} 
h2, h3, h4, h5, h6, p{
    color: darkgoldenrod;
}
#page1{
    background-image: -webkit-linear-gradient(top, black, #330000);
    background-image: -o-linear-gradient(top, black, #330000);
    background-image: -moz-linear-gradient(top, black, #330000);
}
.centered{
    text-align: center;
    margin: 0 auto;
}
#bum{
    margin: 0 auto;
    height: 50%;
}
#todayDate {
    width: 75vw;
    padding: 5px;
    text-align: center;
    background: darkred;
    color: darkgoldenrod;
    border-radius: 3px 3px 3px 3px;
    margin: auto;
}

#chosen {
    border-radius:10px;
    width:45px;
    padding-top:10px; padding-bottom:10px;
    background-image: -webkit-linear-gradient(top, black, #330000);
    background-image: -o-linear-gradient(top, black, #330000);
    background-image: -moz-linear-gradient(top, black, #330000);
    text-align:center;
    color:darkgoldenrod;
    font-weight:bold; font-size:large;
    
}
#picHolder {
    width:250px;
    height:400px;
    margin:auto;
}
input[type='range'] {
    -webkit-appearance: none;
    padding-left:2px; padding-right:2px;
    -webkit-border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}
.custom-count-pos{
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right;
}

