body {
    font-family: monterey, Garamond, Arial;  !important;
    font-size: 18px;
}
@font-face {
    font-family: monterey; !important;
    src: local(monterey), url('fonts/monterey-bt.ttf') format('truetype'); !important;
}
h1{
    font-family: monterey; !important;
    font-size: 2em;
    color: goldenrod
} 
h2, h3, h4, h5, h6, p{
    color: darkgoldenrod;
}
#page1{
    background-color: darkslategray;
}
#page2{
    background-color: dimgrey;
}
.centered{
    text-align: center;
    margin: 0 auto;
}
#bum{
    margin: 0 auto;
    height: 50%;
}
#newTaskInput, #addNewTask{
    display: block;
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: 
    border: 0;
    height: 2em;
    font-size: 1em;
    color: darkgoldenrod;
    
}
#taskList{
    margin-top: 10px;
}

#taskList > li{
    
    line-height: 2em;
    color: darkgoldenrod;
    margin-top: 2px;
    
}
#taskList span{
    margin-left: 5px;
}
.done{
    text-decoration: line-through;
    opacity: 0.5;
}

#todayDate {
    width: 75vw;
    padding: 5px;
    text-align: center;
    background: darkred;
    color: darkgoldenrod;
    border-radius: 3px 3px 3px 3px;
    margin: auto;
}

#checkbox-v-2a .ui-checkbox {
    width: 33%;
}

.ui-block-b{
    vertical-align: bottom;
}
#chosen {
    border-radius:10px;
    width:45px;
    padding-top:10px; padding-bottom:10px;
    background-image: -webkit-linear-gradient(top, #cccccc, #330000);
    background-image: -o-linear-gradient(top, #cccccc, #330000);
    background-image: -moz-linear-gradient(top, #cccccc, #330000);
    text-align:center;
    color:#ffffff;
    font-weight:bold; font-size:large;
    margin-left:40px;
}
#slider {
    margin-left:10px;
}
#picHolder {
    width:250px;
    height:240px;
    margin:10px;
}
input[type='range'] {
    -webkit-appearance: none;
    padding-left:2px; padding-right:2px;
    -webkit-border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}

